.home
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.center{
  font-style: inherit;
  font-weight:lighter;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  cursor: pointer;
}
.menu:hover{
  text-decoration: underline;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 600px;
    height: 600px;
    background-color: transparent;
}